<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Lark3dSlicer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Lark3dSlicer.Properties.Settings>
            <setting name="NozzleDiameter1" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="FilamentDiameter" serializeAs="String">
                <value>1.75</value>
            </setting>
            <setting name="NumberOfExtruders" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NozzleDiameter2" serializeAs="String">
                <value>0.2</value>
            </setting>
        </Lark3dSlicer.Properties.Settings>
    </userSettings>
</configuration>